// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin : 33px;
}
.submit-button {
  display: block;
}
td {
  padding: 3px ;
}
// エラーボックス
.error-box {
  width: 500px;
  border: solid 3px #ff0000;
}
.error-title {
  color: #ffffff;
  background-color: #ff0000;
  padding: 5px;
}
.error-contents {
  padding: 50px;
}